/* Reset y base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #2d684a;
}

/* Encabezado superior */
.cabezera {
    background-color: #0c132f;
    border-bottom: 1px solid #ddd;
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

/* Contactos (urgencias + consulta) */
.contactos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.urgencias {
    background-color: #a9142a;
    color: rgb(251, 200, 13);
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.consulta-admin {
    display: flex;
    align-items: center;
    color: #9d98c2;
    font-size: 14px;
}

.icono {
    margin-right: 6px;
}

/* Logo */
/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 10px;
    margin-top: 10px;
    width: 100%; /* Asegura que el contenedor ocupa toda la anchura */
}

.logo span {
    color: #9d98c2;
    font-size: 35px;
    font-family: 'impact';
}

.logo img {
    height: 100px;
}

/* Menú de navegación */
.links {
    padding: 15px 20px;
    color: #9d98c2;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu li {
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}
.banner {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 500px;
    display: block;
}

@media (max-width: 768px) {
    .container-top {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .contactos {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        margin-bottom: 10px;
    }

    .urgencias,
    .consulta-admin {
        font-size: 12px;
        width: 88%;
    }

    .logo {
        flex-direction: row;
        align-items: flex-start;
        gap: 5px;
        width: 100%;
    }

    .logo img {
        height: 80px;
    }

    .logo span {
        font-size: 24px;
    }

    .links {
        padding: 10px 0;
    }

    .menu {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        padding-left: 15px;
    }

    .menu li {
        font-size: 11px;
    }
    .banner img {
        height: auto;
        max-height: 250px;
        object-fit: cover;
    }
}



